{% extends base_template %}
{% load i18n %}
{% load reviewtags %}

{% block title %}{{markdown.filename}}{% if caption %}: {{caption}}{% endif %}{% endblock %}

{% block scripts-post %}
{{block.super}}

<script language="javascript">
    $(document).ready(function() {
        var view = new RB.MarkdownReviewableView({
            model: new RB.MarkdownReviewable({
                attachmentID: '{{markdown.id}}',
                caption: '{{caption|escapejs}}',
                rendered: '{{review_ui.render|escapejs}}'
            })
        });

        view.render();
        $('#markdown-review-ui-container').append(view.$el);
    });
</script>
{% endblock %}

{% block review_ui_content %}
<div id="markdown-review-ui-container"></div>
{% endblock %}
