{% extends base_template %}
{% load i18n %}
{% load reviewtags %}

{% block title %}{% trans "Markdown" %}{% endblock %}

{% block scripts-post %}
{{block.super}}

<script language="javascript">
    $(document).ready(function() {
        var view = new RB.MarkdownReviewableView({
            model: new RB.MarkdownReviewable({
                caption: '{{markdown.caption}}',
                attachmentID: '{{markdown.id}}',
                rendered: '{{review_ui.render}}'
            })
        });

        view.render();
        $('#markdown-review-ui-container').append(view.rendered());
    });
</script>
{% endblock %}

{% block review_ui_content %}
<div id="markdown-review-ui-container"></div>
{% endblock %}
